* {
  box-sizing: border-box; 
}

:host {
  display: block;
  min-height: calc(100vh - 80px);
  padding: 100px 20px 40px;
  background-color: #E78101;
  box-sizing: border-box;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #D05421;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  z-index: 1000;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 15px;
}

.menu-btn {
  font-size: 28px;
  cursor: pointer;
  background: none;
  border: none;
  color: white;
  font-family: 'Comic Sans MS';
}



.logo img {
  height: 130px;       
}

.header-right .login-btn {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.sidebar {
  position: fixed;
  top: 60px;
  left: -220px;
  width: 220px;
  height: calc(100vh - 60px);
  background-color: #770101;
  padding: 20px;
  transition: left 0.3s;
  z-index: 999;
  font-family: 'Comic Sans MS';
}

.sidebar.open {
  left: 0;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li a {
  text-decoration: none;
  color: #fafafa;
  display: block;
  padding: 8px 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  margin-top: 20px;
  flex-wrap: wrap; 
}

.rectangle {
  width: 400px;
  min-height: 380px;
  background-color: #770101;
  padding: 30px;
  display: flex;
  font-size: 14px;
  flex-direction: column;
  align-items: center;
  color: #fff;
  gap: 13px;
  font-family: 'Comic Sans MS';
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.rectangle img {
  width: 70%;
  height: auto;
}

.footer {
  width: 100%;
  background-color: #D05421;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: fixed;
  bottom: 0;
  left: 0;
  font-size: 14px;
  z-index: 100;
}

.footer-center p {
  margin: 0;
  margin-left: 20px;
  margin-right: 20px;
  justify-content: center;
  align-items: center; 
  font-family: 'Comic Sans MS';
}

.social-icons a {
  margin-right: 10px;
}

.social-icons img {
  width: 24px;
  height: 24px;
  transition: transform 0.2s;
}

.social-icons img:hover {
  transform: scale(1.2);
}

@media (max-width: 860px) {
  :host {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }

  .container {
    padding: 0 20px; 
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .footer {
    position: relative;
    width: 100%; 
    flex-direction: column;
    gap: 20px; 
    text-align: center;
    margin: 0; 
    left: 0;
    padding: 20px; 
  }

 .footer {
    position: relative; 
    flex-direction: column;
    gap: 30px;
    text-align: center;
  }

  .rectangle {
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
  }

  .rectangle img {
    width: 100%; 
    height: auto;
  }
}