* {
  box-sizing: border-box;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #770101;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  z-index: 1000;
  box-sizing: border-box; 
}

.header-left { 
  display: flex; 
  align-items: center; 
}

.menu-btn { 
  font-size: 24px; 
  margin-right: 15px; 
  cursor: pointer; 
  background: none; 
  border: none; 
  color: white; 
}


.logo img {
  height: 130px;
  margin-right: 100px;       

}
  
.header-right .login-btn { 
  text-decoration: none; 
  color: #f8f7f8; 
  font-weight: bold; 
}

.sidebar {
  position: fixed;
  top: 50px;
  left: -200px;
  width: 200px;
  height: calc(100vh - 50px);
  background-color: #770101;
    font-family: 'Comic Sans MS';
  padding: 20px;
  transition: left 0.3s;
  z-index: 9999 !important;
}

.sidebar.open { left: 0; }

.sidebar ul { 
  list-style: none; 
  padding: 0; 
}

.sidebar ul li a { 
  text-decoration: none; 
  color: #fafafa; 
  display: block; 
  margin-bottom: 10px; 
}

.content-area {
  display: flex;
  flex-direction: row; 
  justify-content: center;
  align-items: center; 
min-height: 400px;
  width: 100%;
  max-width: 800px; 
  margin: 42px auto 20px auto; 
  font-family: 'Comic Sans MS', ;
  padding: 20px; 
  gap: 40px; 
}
  

.form-card {
  background-color: #E78101;
  padding: 50px;
  box-shadow: 0 0 10px rgba(0,0,0,0.25);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
 margin-top: 50px;
  width: 350px;
  height: 390px;
}


.title {
  font-size: 26px;
  font-weight: bold;
margin-right: 38px; 
margin-top: -20px;  
margin-bottom: 30px;
font-family: 'Comic Sans MS';
  width: 100%;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
}

.form input,
.form textarea {
  padding: 12px;
  font-size: 14px;
  font-family: 'Comic Sans MS';
  border-radius: 6px;
  border: none;
  box-sizing: border-box;
  width: 100%; 
}

.send-btn {
  width: 50%;
  padding: 10px;
  font-size: 16px;
  border-radius: 6px;
  background-color: #770101;
  color: white;
  border: none;
  cursor: pointer;
  margin-left: 150px;
  font-family: 'Comic Sans MS';
}

.send-btn:hover {
  background-color: #e24a0b;
}

.right-side {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 05px;
}

.right-side img {
  margin-top: 50px;
  width: 260px;
  height: auto;
  box-shadow: 0 0 10px rgba(0,0,0,0.25);
  max-width: 100%; 
}

:host {
  display: flex;
  flex-direction: column; 
  min-height: 100vh; 
  background-color: #626901;
  position: relative;
}

.footer {
  width: 100%;
  background-color: #770101;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
  font-size: 14px;
  box-sizing: border-box;
}

.footer-center p {
  margin: 0;
  margin-left: 20px;
  margin-right: 20px;
  justify-content: center;
  align-items: center; 
  font-family: 'Comic Sans MS';
}

.social-icons a {
  margin-right: 10px;
  display: inline-block;
}

.social-icons img {
  width: 24px;
  height: 24px;
  transition: transform 0.2s;
}

.social-icons img:hover {
  transform: scale(1.2);
}

.error-msg {
  color: #f8f7f7;
  font-size: 12px;
  margin-top: 5px;
  font-weight: bold;
}

.form-item input.ng-invalid.ng-touched {
  border: 1px solid #fdfcfc;
  background-color: #fff0f0;
}

button:disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
  opacity: 0.7;
}

@media (max-width: 850px) {
  
  .content-area {
    flex-direction: column; 
    align-items: center;
    margin-top: 70px;
    padding: 15px;
    gap: 30px;
  }

  .form-card {
    max-width: 100%; 
    order: 1; 
  }

  .right-side {
    width: 100%;
    order: 2; 
  }

  .right-side img {
    max-width: 280px;
  }
  
  .footer {
    position: relative; 
    flex-direction: column;
    gap: 15px;
    text-align: center;
    padding-bottom: 20px;
  }
  
  .footer-left, .footer-right, .footer-center {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}