* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:host {
  display: block;
  background-color: #E78101;
  padding-top: 10px;
  min-height: 100vh;
  padding-bottom: 0px; 
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height:50px;
  background-color: #D05421;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  z-index: 1000;
}

.header-left {
  display: flex;
  align-items: center;
}

.menu-btn {
  font-size: 24px;
  margin-right: 15px;
  cursor: pointer;
  background: none;
  border: none;
  color: white;
}



.logo img {
  height: 130px;       
}

.header-right .login-btn {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.sidebar {
  position: fixed;
  top: 50px;
  left: -200px;
  width: 200px;
  height: calc(100vh - 50px);
  background-color: #770101;
  padding: 20px;
  transition: left 0.3s;
  z-index: 1100;
  font-family: 'Comic Sans MS';
}

.sidebar.open { left: 0; }

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li a {
  text-decoration: none;
  color: #fafafa;
  display: block;
  margin-bottom: 10px;
  cursor: pointer;
}

.layout {
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.carousel {
  position: relative;
  width: 100%;
  height: 50vh; 
  overflow: hidden;
}

.slides img {
  width: 100%;
  height: 50%;
  object-fit: cover;
  display: none;
}

.slides img.active { display: block; }

button.prev, button.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.5);
  color: white;
  border: none;
  font-size: 36px;
  width: 60px;
  height: 80px;
  cursor: pointer;
  z-index: 10;
}

button.prev { left: 10px; }
button.next { right: 10px; }

.login-area {
  width: 100%;
  margin:  auto; 
  padding: 12px 10px;
  margin-top: 10px;
  margin-bottom: 05px;
  background-color: #626901;
  font-family: 'Comic Sans MS';
}

.login-bar {
  display: flex;
  justify-content: center;
  gap: 20px;
  max-width: 600px; 
  margin: 0 auto;
}

.login-field {
  display: flex;
  flex-direction: column;
  width: 45%; 
}

.login-field input {
  padding: 8px;
  border-radius: 5px;
  border: none;
}

.login-field label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #fff;
  font-size: 16px;
}

.primeiro-acesso {
  text-align: center;
  margin-top: 15px; 
  font-size: 13px;
  color: white;
  font-family: 'Comic Sans MS';
}

.primeiro-acesso a {
  color: #c0881f;
  text-decoration: none;
  font-weight: bold;
  font-family: 'Comic Sans MS';
}

.primeiro-acesso a:hover { text-decoration: underline; }

.login-btn-bar {
  padding: 10px 30px;
  background-color: #D05421;
  color: #fff;
  border: none;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  display: block;
  margin: 20px auto 0;
  border-radius: 5px;
}

.login-btn-bar:hover { background-color: #e24507; }
.footer {
  width: 100%;
  background-color: #D05421;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
  font-size: 14px;
}

.footer-center p {
  margin: 0;
  margin-left: 20px;
  margin-right: 20px;
  justify-content: center;
  align-items: center; 
  font-family: 'Comic Sans MS';
}

.social-icons a { margin-right: 10px; }
.social-icons img {
  width: 24px;
  height: 24px;
  transition: transform 0.2s;
}
.social-icons img:hover { transform: scale(1.2); }

@media (max-width: 768px) {

  .carousel {
    height: 40vh; 
  }
  
  button.prev, button.next {
    width: 40px;
    height: 60px;
    font-size: 24px;
  }

  .login-bar {
    flex-direction: column; 
    align-items: center;
    gap: 15px;
  }

  .login-field {
    width: 100%; 
  }
  
  .login-area {
    padding: 20px;
  }

  .footer {
    position: relative; 
    flex-direction: column;
    gap: 15px;
    text-align: center;
    margin-top: 10px;
    padding: 50px;
  }

  .footer-center p {
    margin-left: 0; 
    margin-bottom: 5px;
  }
  
  :host {
    padding-bottom: 0;
    min-height: auto;
  }
}