.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #D05421;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  z-index: 1000;
  
}

.header-left { display: flex; align-items: center; }
.menu-btn { font-size: 24px; margin-right: 15px; cursor: pointer; background: none; border: none; color: white }
.logo { color: #fefdff; font-size: 24px; margin: 0; }
.header-right .login-btn { text-decoration: none; color: #f8f7f8; font-weight: bold; }

.sidebar {
  position: fixed;
  top: 50px;
  left: -200px;
  width: 200px;
  height: calc(100vh - 50px);
  background-color: #770101;
  padding: 20px;
  transition: left 0.3s;
  z-index: 10002; /* acima do layout */
  pointer-events: auto;
}

.sidebar.open { left: 0; }
.sidebar ul { list-style: none; padding: 0; margin: 0; }
.sidebar ul li a { 
  text-decoration: none; 
  color: #fafafa; 
  display: block; 
  margin-bottom: 10px; 
  cursor: pointer;
}
.layout {
  margin-top: 50px;
  width: 100vw;
  padding: 0;
  display: flex;
  justify-content: center;
  }

.carousel {
  position: relative;
  width: 100vw;
  height: 50vh;          
  overflow: hidden;
}

.slides img {
  width: 100%;
  height: 100%;
  object-fit: cover;      /* mantém proporção sem distorcer */
  display: none;
   position: relative;
  z-index: 1;
}

.slides img.active {
  display: block;
}

/* Botões do carrossel */
button.prev,
button.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.5);
  color: white;
  border: none;
  font-size: 36px;
  width: 60px;
  height: 80px;
  cursor: pointer;
  z-index: 10;
}

button.prev { left: 10px; }
button.next { right: 10px; }


.login-area {
  width: 100%;
  max-width: 1000px; 
  margin: 10px auto;
  padding: 25px 30px;
  background-color: #626901;
  .login-area {
  position: relative;
  z-index: 10000px; 
}

}

.login-row {
  display: flex;
  justify-content: center;
  gap: 40px;
  width: 100%; 
}

.login-bar {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%; 
  max-width: 500px;
  margin: -7px auto;
}

.login-btn-bar {
  width: fit-content;
  padding: 12px 16px;
  background-color: #F85D1E;
  color: #fcf8f8;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  display: block;
  margin: 20px auto 0;
}

.login-btn-bar:hover {
  background-color: #e24507;
}

.login-field {
  display: flex;
  flex-direction: column;
  width: 45%; 
}

.login-field label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #fbfafc;
  font-size: 13px;
}

.login-input {
  padding: 10px 12px; 
  font-size: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
}


:host {
  display: block;
  min-height: 10vh;
  background-color: #E78101; 
  padding-top: 10px; 
  box-sizing: border-box;
}

.footer {
  width: 100%;
  background-color: #D05421;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
  font-size: 14px;
}

.footer-center {
  padding: -10px;
margin-bottom: -10px;
margin-left: 200px;

}



.social-icons a {
  margin-right: 10px;
  display: inline-block;
}

.social-icons img {
  width: 24px;
  height: 24px;
  transition: transform 0.2s;
}

.social-icons img:hover {
  transform: scale(1.2);
}


